<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Skyline Booking Confirmation</title>
    <link rel="stylesheet" href="style.css" data-inline="data-inline" />
  </head>
  <body>
    <span class="preheader"
      >Thank you for booking with us! This is a confirmation for your flight
      from {{flight.origin.city}} to {{flight.destination.city}}.</span
    >
    <table
      id="bodyTable"
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <!-- Start header -->
            <div class="header">
              <table
                role="presentation"
                border="0"
                cellpadding="0"
                cellspacing="0">
                <tr>
                  <td class="logo">
                    <img src="cid:skyline-logo" alt="Skyline logo" />
                  </td>
                  <td>&nbsp;</td>
                  <td class="title">
                    <table
                      role="presentation"
                      border="0"
                      cellpadding="0"
                      cellspacing="0">
                      <tr>
                        <td><b>Booking ID</b></td>
                      </tr>
                      <tr>
                        <td>{{bookingId}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <!-- End header -->

            <!-- Start centered white container -->
            <table role="presentation" class="main">
              <!-- Start main content area -->
              <tr>
                <td>
                  <table
                    role="presentation"
                    border="0"
                    cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p><b>Hello {{contact.firstName}},</b></p>
                        <p>
                          Thank you for booking your flight with us! This is a
                          confirmation for your booking of the flight from
                          <b>{{flight.origin.city}}</b>
                          to <b>{{flight.destination.city}}</b>. You will find
                          all the details of the booking below.
                        </p>
                        <p>
                          Your flight tickets will be emailed to you shortly, as
                          we are processing your booking. Feel free to check on
                          the status and details of your booking on our website.
                          To log in, you will be prompted to enter your booking
                          ID as seen below, and other verification details.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="booking-id">
                        <b>Booking ID:</b> {{bookingId}}
                      </td>
                    </tr>
                    <tr>
                      <td><h2>Flight Details</h2></td>
                    </tr>
                    <tr>
                      <td class="flight-details">
                        <table
                          role="presentation"
                          border="0"
                          cellpadding="0"
                          cellspacing="0">
                          <tr>
                            <td>&nbsp;</td>
                            <td class="flight-details-data">
                              <table
                                role="presentation"
                                border="0"
                                cellpadding="0"
                                cellspacing="0">
                                <tr>
                                  <td>
                                    <b>{{flight.origin.city}}</b>
                                    ({{flight.origin.iataCode}})
                                  </td>
                                </tr>
                                <tr>
                                  <td>{{flight.departureDate}}</td>
                                </tr>
                                <tr>
                                  <td>{{flight.departureTime}}</td>
                                </tr>
                              </table>
                            </td>
                            <td>&nbsp;</td>
                            <td class="flight-details-icon">
                              <table
                                role="presentation"
                                border="0"
                                cellpadding="0"
                                cellspacing="0">
                                <tr>
                                  <td>
                                    <img
                                      src="cid:airplane-icon"
                                      alt="Fly to icon" />
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <b
                                      >{{airlineIataCode}}
                                      {{flight.serviceId}}</b
                                    >
                                  </td>
                                </tr>
                                <tr>
                                  <td>Duration: {{flight.duration}}</td>
                                </tr>
                              </table>
                            </td>
                            <td>&nbsp;</td>
                            <td class="flight-details-data">
                              <table
                                role="presentation"
                                border="0"
                                cellpadding="0"
                                cellspacing="0">
                                <tr>
                                  <td>
                                    <b>{{flight.destination.city}}</b>
                                    ({{flight.destination.iataCode}})
                                  </td>
                                </tr>
                                <tr>
                                  <td>{{flight.arrivalDate}}</td>
                                </tr>
                                <tr>
                                  <td>{{flight.arrivalTime}}</td>
                                </tr>
                              </table>
                            </td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td><h2>Passengers</h2></td>
                    </tr>
                    <tr>
                      <td class="passengers">
                        <table
                          role="presentation"
                          border="0"
                          cellpadding="0"
                          cellspacing="0">
                          <tr>
                            <td>&nbsp;</td>
                            <td class="passenger-details">
                              <table
                                role="presentation"
                                border="0"
                                cellpadding="0"
                                cellspacing="0">
                                {{#each passengers}}
                                <tr>
                                  <td>
                                    <h3>
                                      {{nameTitle}}. {{givenNames}} {{surname}}
                                    </h3>
                                  </td>
                                  <td>&nbsp;</td>
                                  <td><b>Seat:</b> {{seat}}</td>
                                </tr>
                                {{/each}}
                              </table>
                            </td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- End main content area -->
            </table>
            <!-- End centered white container -->

            <!-- Start footer -->
            <div class="footer">
              <table
                role="presentation"
                border="0"
                cellpadding="0"
                cellspacing="0">
                <tr>
                  <td>
                    <p>
                      This email was sent automatically by Skyline CRS, a
                      computer reservation system for a fake airline named
                      Skyline.
                    </p>
                    <p>
                      The company "Skyline", as presented in this email, is not
                      real, but made up for a personal project. If this email
                      does not concern you and was sent to you by mistake, you
                      may ignore it.<br />
                    </p>
                    <p>
                      For more information about the project,
                      <a href="https://github.com/idos2002/skyline-crs"
                        >click here</a
                      >.
                    </p>
                  </td>
                </tr>
              </table>
            </div>
            <!-- End footer -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
